:root {
    --color-typo-main: #1D1D1D;
    --color-typo-secondary: #626262;
    --color-typo-reverse: #ffffff;
    --color-typo-accent: #57AD56;

    --color-background-main: #ffffff;
    --color-background-secondary: #262626;
    --color-background-select: #3B3B3B;


    --color-button-border: #E0E0E0;
    --color-section-border:  #7d7d7d;
    --color-restaurant-border: rgba(117, 117, 117, 0.2);
    --color-title-border: #757575;

    --color-hover: rgba(0, 0, 0, 0.04);
    --color-hover-button: #4B944A;
}